body,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,p,pre{
	padding:0;
	margin:0;
	list-style: none;
	border:0;
}
html,body{
	text-align: center;
}
/*顶部*/
#name{
	width:11.1111%;
	height:auto;
	float: left;
}
#name ul{
	width:100%;
	height:auto;
	min-height: 40px;
}
#name ul li{
	width:100%;
	min-height:40px;
	box-sizing:border-box;
	border:1px solid #000;
	text-align: center;
}
#table-parent{
	width:77.777777777777777%;
	height:auto;
	float: left;
	min-height:40px;
	overflow: hidden;
}
#table{
	
}
#table li{
	min-height: 40px;
	border: 1px solid #000;	
	box-sizing: border-box;
	float: left;
	overflow: hidden;
}
#totle{
	width:11.1111111111111%;
	height:auto;
	float:right;
}
#totle ul{
	width:100%;
	height:auto;
}
#totle ul li{
	width:100%;
	min-height: 40px;
	border:1px solid #000;
	box-sizing: border-box;
	text-align: center;
}
.extra-more{
	width:100%;
	height:100%;
	background:red;
}
